<meta charset="UTF-8">
<style>
    ._customer_wrap {
        max-width: 807px;
        font-family: Arial, sans-serif;
        color: #000000;
        background: #ffffff;
        padding: 13px 65px 1px 15px;
    }
    ._customer_adv__item {
        display: flex;
        margin-bottom: 15px;
    }
    ._customer_adv__item-title {
        font-size: 22px;
        line-height: 15px;
        font-weight: bold;
    }
    ._customer_adv__item-txt {
        font-size: 15px;
        line-height: 18px;
        font-weight: normal;
        margin-top: 5px;
    }
    ._customer_adv__item img {
        width: 75px!important;
        height: 75px!important;
    }
    ._customer_adv__item-block {
        display: grid;
        align-content: center;
        margin-left: 20px;
    }
</style>

<div class="_customer_wrap">
    <div class="_customer_adv__item">
        <img src="img/advantages/img1.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Товары от производителя</div>
            <span class="_customer_adv__item-txt">Мы предлагаем товар, который сами произвели. Работая с нами, вы не переплачиваете посредникам.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/advantages/img2.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Сертифицированная продукция</div>
            <span class="_customer_adv__item-txt">Все противопожарные решения  соответствуют ГОСТам. Присутствуют сертификаты соответствия.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/advantages/img2.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Индивидуальный подход</div>
            <span class="_customer_adv__item-txt">Мы идем навстречу клиентам, готовы индивидуально согласовывать цены и сроки доставки.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/advantages/img3.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Гарантии и сервис</div>
            <span class="_customer_adv__item-txt">Предоставляем 3 года гарантии на конструкции и стекло. Наши сервисные центры присутствуют в
разных регионах страны.</span>
        </div>
    </div>
</div>
