<meta charset="UTF-8">
<style type="text/css">
._customer_card__wrap {
    font-family: 'Miriad Pro', sans-serif;
    max-width: 870px;
    min-height: 135px;
    color: #333333;
    background: #ffffff;
    padding-top: 15px;
    padding-left: 7px;
}
._customer_card__cont {
    display: flex;
    flex-wrap: wrap;
}
._customer_card__item {
    display: flex;
    width: 48%;
    margin-bottom: 15px;
    margin-right: 1%;
}
._customer_card__item img {
    width: 52px!important;
    height: 52px!important;
}
._customer_card__txt {
    display: grid;
    align-content: center;
    margin-left: 15px;
    font-size: 21px;
    font-weight: normal;
}
@media (max-width: 998px) {
    ._customer_card__cont {
        display: block;
    }
}
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__cont">
        <div class="_customer_card__item _customer_card__item-mr"><img src="img/block_card/img-1.png" />
            <div class="_customer_card__txt"><span>Минимальный заказ — 1 м<sup>2</sup></span></div>
        </div>

        <div class="_customer_card__item"><img src="img/block_card/img-2.png" />
            <div class="_customer_card__txt"><span>Доставляем своим транспортом</span></div>
        </div>

        <div class="_customer_card__item _customer_card__item-mr"><img src="img/block_card/img-3.png" />
            <div class="_customer_card__txt"><span>При заказе от 100 м<sup>2</sup> — скидки!</span></div>
        </div>

        <div class="_customer_card__item"><img src="img/block_card/img-4.png" />
            <div class="_customer_card__txt"><span>При заказе от 300 м<sup>2</sup> — бесплатно!</span></div>
        </div>
    </div>
</div>