<meta charset="UTF-8">
<style type="text/css">
    ._customer-ctlg-cnt {
        display: block !important;
        max-width: 613px !important;
        min-height: 215px !important;
        padding: 14px 7px;
        background: #ffffff;
    }
    ._customer-ctlg-block-item {
        margin-bottom: 10px;
        box-shadow: 0 0 13.72px 0.28px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        position: relative;
        padding-right: 10px;
    }
    ._customer-ctlg-block-item-1 {
        background: url('img/block_category/red-block.png') no-repeat !important;
        min-height: 71px;
        padding-top: 18px;
    }
    ._customer-ctlg-block-item-1:before {
        content: " ";
        background: url("img/block_category/icon-percent.png") no-repeat;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 28px;
        left: 30px;
    }
    ._customer-ctlg-block-item-2  {
        background: url('img/block_category/red-block.png') no-repeat !important;
        min-height: 66px;
        padding-top: 23px;
    }
    ._customer-ctlg-block-item-2:before {
        content: " ";
        background: url("img/block_category/icon-phone.png") no-repeat;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 22px;
        left: 28px;
    }
    ._customer-ctlg-text {
        font-family: 'Miriad Pro', sans-serif !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        font-style: italic;
        color: #333333;
        margin-left: 127px;
        letter-spacing: -0.7px;
        padding-bottom: 10px;
    }
    ._customer-ctlg-text-1 {
        line-height: 18px;
    }
    ._customer-ctlg-text-2 {
        line-height: 21px;
    }
    ._customer-ctlg-flex {
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap !important;
    }
    ._customer-ctlg-connection {
        display: inline-block !important;
        padding-right: 30px;
        padding-bottom: 10px;
        margin-top: -5px;
    }
    ._customer-ctlg-link {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 155px !important;
        min-width: 155px !important;
        height: 33px !important;
        min-height: 33px !important;
        border-radius: 3px !important;
        background-color: #ee4324 !important;
        color: #ffffff !important;
        font-family: Arial, sans-serif !important;
        font-size: 11px !important;
        font-weight: 700 !important;
        line-height: 33px !important;
        text-align: center !important;
        text-decoration: none !important;
        cursor: pointer;
    }
    ._customer-ctlg-link:hover {
        opacity: 0.85 !important;
    }
    ._customer-ctlg-tel {
        display: block !important;
        text-align: center !important;
        text-decoration: none !important;
        margin-top: 6px !important;
        color: #333333 !important;
        font-family: Arial, sans-serif !important;
        font-size: 16px !important;
        font-weight: 400 !important;
    }
    ._customer-ctlg-tel:hover {
        text-decoration: underline !important;
    }
    @media (max-width: 634px) {
        ._customer-ctlg-connection {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
</style>

<div class="_customer-ctlg-cnt">
    <div class="_customer-ctlg-block">
        <div class="_customer-ctlg-block-item _customer-ctlg-block-item-1">
            <div class="_customer-ctlg-text">
                <span class="_customer-ctlg-text-1">Минимальный заказ — 1 м<sup>2</sup><br>При заказе от 100 м<sup>2</sup> — скидки!</span>
            </div>
        </div>
    </div>
    <div class="_customer-ctlg-block">
        <div class="_customer-ctlg-block-item _customer-ctlg-block-item-2">
            <div class="_customer-ctlg-flex">
                <div class="_customer-ctlg-text">
                    <span class="_customer-ctlg-text-2">Станьте нашим дилером или<br>задайте  вопрос</span>
                </div>
                <div class="_customer-ctlg-connection">
                    <div class="_customer-ctlg-link apress-button ab-order js-apress-order-button js-orders-callback-link" data-button-type="order_callback" data-company="99451581" data-company-id="99451581" data-company-name="ПожОснова" data-company-name-rest="" data-company-url="http://www.123f3.ru/" data-params="{&quot;company_id&quot;:&quot;99451581&quot;}" data-statistics="1" data-type="callback" onclick="yaCounter50429635.reachGoal('megasite_comblock_order'); return true;">ЗАКАЗАТЬ ЗВОНОК</div>
                    <a class="_customer-ctlg-tel" href="tel:+79282294810" onclick="yaCounter47317812.reachGoal('megasite_comblock_tel'); return true;">+7 (928) 229-48-10 </a>
                </div>
            </div>
        </div>
    </div>
</div>
